<% if current_user %>
  <%= button_to "Logout", session_path(current_user.id), method: :delete %>

  <h2>Current Users</h2>
<% @users.each do |user| %>
<ul>
  <li id="user_<%= user.id %>"><%= user.email %></li>
</ul>
<% end %>

<% else %>
  <%= button_to "Register", "/register", method: :get %>
  <%= button_to "Login", "/login", method: :get %>
<% end %>